<link rel="stylesheet" href="/assets/style.css">
<header>
    <h1>Oliver Potter</h1>
    <nav>
        <ul>
            <li>
                <li><a href="/">Home</a></li>
                <!-- TODO: Programming Page -->
                <!-- Issue URL: https://github.com/opott/opott.uk/issues/3 -->
                <!-- <li><a href="/">Programming</a></li> -->
                <!-- TODO: Photography Page -->
                <!-- Issue URL: https://github.com/opott/opott.uk/issues/2 -->
                <!-- <li><a href="/">Photography</a></li> -->
            </li>
        </ul>
    </nav>
</header>