@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

.barriecito-regular {
  font-family: "Barriecito", system-ui;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-serif-regular {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-serif-medium {
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-serif-semibold {
  font-family: "IBM Plex Serif", serif;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-serif-bold {
  font-family: "IBM Plex Serif", serif;
  font-weight: 700;
  font-style: normal;
}

body,
html {
  font-family: IBM Plex Serif, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color :azure;
}

header {
  background-color: #ff6100;
  color: azure;
  text-align: center;
  margin-top: 0;
  padding: 1.25rem;
}

header h1 {
  font-family: Barriecito;
  font-size: 2.5rem;
  margin: 0 0 0 0.35rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 0.625rem;
}

nav ul li a,
li a {
  color: azure;
  text-decoration: none;
  font-size: 1rem;
}

h1,
h2,
h3 {
  font-family: Barriecito;
}

.content {
    margin: 2%;
}

p {
    font-size: 1.3rem;
    line-height: 1.8rem;
}